<table class="tabla">
  <thead class="tabla__titulos">
    <tr>
      <th scope="col">CURSO</th>
      <th scope="col">MUNICIPIO</th>
      <th scope="col">PAGAR</th>
    </tr>
  </thead>
  <tbody class="tabla__cuerpo">
    @for(task of tasks();track task.id){
      <tr>
        <td scope="row">{{task.curso}}</td>
        <td>{{task.municipio}}</td>
        <td><a class="pago" href="https://mpago.li/32rY7J5">Pagar Aqui</a></td>
      </tr>
    } @empty{
      <tr>
        <td>No te has inscripto a ningun curso</td>
      </tr>
    }
  </tbody>
</table>

