.contenedor{
  margin: 5rem 0;
}


.table{
  max-width: 80%;
  margin: 0 auto;
}

.salir{
  display: flex;
  max-width: 70%;
  margin: 0 auto;
  justify-content:flex-end;
}

.x{
  color: var(--secondary-color);
  font-size: 20px;
}

.texto{
  max-width: 65%;
  margin: 0 auto;
  margin-top: 10rem;
}
